@model theSite.ViewModels.NewsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="link4Action">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
    </dl>

    @Html.Raw(Model.Detail)
</div>

@*
<script id="Detail" name="Detail" type="text/plain" style="width: 650px; height: 500px;">
    @Html.Raw(Model.Detail)
</script>
*@
