<div class="navbar navbar-inverse navbar-fixed-top topNav">
    <div class="container">
        <div class="space"></div>
        @*@Html.Partial("~/Views/CompanyInfo/CompanyInfoOnTop.cshtml")*@
        @Html.Action("RenderLogoBar", "CompanyInfo") @*controller with name only without controller appendix*@
    </div>
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("关于我们", "Index", "Home")</li>
                <li>@Html.ActionLink("咨询服务", "About", "Home")</li>
                <li>@Html.ActionLink("新闻中心", "Index", "News")</li>
                <li>@Html.ActionLink("营销培训", "About", "Home")</li>
                <li>@Html.ActionLink("联系我们", "ContactInfo", "ContactInfo")</li>
            </ul>
        </div>
    </div>
</div>